.flex-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content:spa;
}
.box {
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.box1 {
  background-color: aliceblue;
}
.box2 {
  background-color: antiquewhite;
}
.box3 {
    background-color: aquamarine;
}
.box4 {
    background-color: blue;
}
.box5 {
    background-color: brown;
}
.box6{
    background-color: bisque;
}
.box7 {
    background-color: azure;
}
.box8{
    background-color: darkgreen;
}